.card-img-wrapper {
  position: relative;
  overflow: hidden;
  img {
    transition: all 0.5s ease-in-out;
  }
  ul {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30%;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    button { outline: none; box-shadow: none; }
  }
  &:hover {
    img {
      transform: scale(1.3);
    }
    ul {
      bottom: 0;
      opacity: 1;
    }
  }
}
