<div class="container text-center">
  <form #RegisterForm="ngForm" (ngSubmit)="Register()" autocomplete="off">
    <h1 class="text-primary">Sign Up</h1>
    <hr>
    <div class="form-group">
      <input class="form-control" type="text" [(ngModel)]="model.userName" name="userName" placeholder="UserName">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" [(ngModel)]="model.password" name="password" placeholder="Password">
    </div>
    <div class="form-group">
      <button class="btn btn-success mr-2" type="submit">Register</button>
      <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
